@use '../index.scss' as *;

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    width: $navbar-width;
    height: $navbar-height;
    top: $navbar-height;

    background: $background-strong;
    border: 2px solid $border-strong;
    border-radius: $radius-lg;

    padding: $space-md $space-md;
    gap: $space-md;

    a {
        font-size: $font-lg;
        color: $text-secondary;
        transition: color 0.2s ease;

        &:hover { color: $accent-hover; }
        .active { color: $accent-active; }
    }
}