@use '../index.scss' as *;

.viewport {
    display: flex;
    width: 100%;
    transition: transform 0.4s ease;
    gap: $space-md;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: $background-subtle;

    order: 1;
    height: 85vh;
    width: 320px;
    min-width: 280px;
    flex-shrink: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    border: 3px solid $border-strong;
    border-radius: $radius-sm;

    margin-right: $space-md;

    .search {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        gap: $space-xs;
        height: auto;
        padding-left: $space-xs;
        padding-top: $space-xs;

        border-bottom: 1px solid $border-subtle;

        img {
            aspect-ratio: 1;
            width: 32px;
            height: auto;
            filter: invert(1) sepia(0.6) saturate(6) hue-rotate(255deg) brightness(0.65);
        }

        input {
            height: 100%;
            background-color: $background-subtle;
            border: none;
            padding: $space-sm;
            resize: none;

            color: $text-secondary;
            font-size: $font-md;

            &:focus {
                border: none;
                outline: none;
            }
        }
    }

    .menu-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: $space-sm;
        padding: $space-sm;

        border-bottom: 2px solid $border-subtle;
        width: 100%;

        img {
            height: 32px;
            width: 32px;
            border-radius: $radius-xl;
        }

        h1 {font-size: $font-md; }
        h2 { font-size: $font-md; }

        &.active { background-color: $background-active; }
        &:hover { background-color: $background-hover; }
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: $space-lg;
    padding: $space-md;

    background-color: $background-subtle;
    background-size: cover;

    order: 0;
    height: 85vh;
    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    border: 3px solid $border-strong;
    border-radius: $radius-sm;

    .user-navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        padding: $space-sm;
        gap: $space-lg;

        a {
            color: $text-primary;
            font-size: $font-md;
            padding: $space-md;
            border-radius: $radius-md;
            width: 100%;
            text-align: center;
            background: $background-strong;

            transition: background 0.2s ease;

            &:hover {
                background: $background-hover;
            }

            &.active {
                background: $background-active;
            }
        }


    }

    hr {
        width: 90%;
        height: 2px;
        border: 2px solid $border-strong;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $space-md;

        img {
            width: 64px;
            height: 64px;
            border-radius: $radius-md;
        }
    }

    .error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        h1 {
            text-shadow: none;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: $space-sm;
        padding: $space-lg;

        background-color: rgba($background-strong, 0.8);

        border-left: 8px solid $border-strong;
        border-radius: $radius-md;

        width: 80%;
        height: auto;

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $space-xs;

            color: $text-primary;

            padding: $space-sm;
            cursor: pointer;

            img {
                width: 23px;
                height: 24px;
                border-radius: $radius-sm;
            }
        }

        .detail {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: $space-xs;

            h1 {
                font-size: $font-md;
                font-weight: $weight-regular;
            }

            h2 {
                font-size: $font-md;
                font-weight: $weight-semibold;
            }
        }
    }
}

.overlay {
    // top: 25vh;
    // left: 25vw;
    position: fixed;
    width: 50vw;
    height: 50vh;
    display: none;
    background-color: $background-strong;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: $space-sm;
    padding: $space-lg;

    border: 4px solid $border-strong;
    border-radius: $radius-md;
    z-index: 1001;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: $space-xl;

        h1 { font-size: $font-xl; }
    }

    textarea {
        flex: 1;
        box-sizing: border-box;
        min-width: 0;
        max-width: 100%;
        width: 100%;
        background-color: $background-subtle;
        border: none;
        padding: $space-sm;
        resize: none;
        font-size: $font-lg;

        color: $text-secondary;
        font-size: $font-md;

        &:focus {
            border: none;
            outline: none;
        }
    }

    .overlay-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: $space-md;

        width: 100%;
        height: auto;

        button {
            cursor: pointer;
            flex: 1;
            height: 64px;
            font-size: $font-md;
            color: $text-secondary;

            transition: background-color 0.2s ease;

            &:hover {
                background-color: $background-hover;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .viewport {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        gap: 7.5vw;
        padding-inline: 7.5vw;
    }

    .menu, .page {
        flex: 0 0 85vw;
        height: 70vh;

        scroll-snap-align: center;
    }

    .overlay {
        
        .menu {
            flex-direction: column;
        }
    }

    .page {

        .info {

            .detail {
                align-items: flex-start;
                flex-direction: column;
            }
        }

        .header {

            img {
                width: 48px;
                height: 48px;
            }
        }
    }
}