@use '../index.scss' as *;

.my-list {
  padding: $space-xl;
  max-width: $max-width;
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
    color: $text-primary;
    margin-bottom: $space-md;
  }

  p {
    color: $text-secondary;
  }
}
