@use "../../index.scss" as *;

.site-section {
    display: flex;
    flex-direction: row;
    gap: $space-md;

    align-items: center;
    align-self: flex-start;
    justify-content: center;

    margin: $space-lg;

    .section-content {
        display: flex;
        flex-direction: column;
        gap: $space-sm;

        align-items: flex-start;

        h1 {
            font-size: $font-xl;
            font-weight: $weight-bold;
        }

        p {
            font-size: $font-md;
        }

        hr {
            align-self: flex-start;
            height: 3px;
            width: 25%;

            background: linear-gradient(270deg, $background-color, $border-strong); //
            border: none;

            border-radius: $radius-xl;

            @media screen and (max-width: $mobile-breakpoint) {
                width: 50%;
            }
        }
    }

    img {
        width: 200px;
        height: auto;
        max-width: 35%;

        object-fit: cover;
        border-radius: $radius-md;

        @media screen and (max-width: $mobile-breakpoint) {
            width: 150px;
            max-width: 100%;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}